<ion-view view-title="Noveaute">
  <ion-content class="padding" >
 <ion-side-menu side="left">
    <ion-list >
      <ion-item menu-close ui-sref="home">
      <i class="icon ion-android-home">
        
      </i>   
      Acceuil     
      </ion-item>
     
      <ion-item menu-close ui-sref="listfilm">
       <i class="icon ion-android-film">
        
      </i> 
        Nos Prochain Film
      </ion-item>
    </ion-list>
  </ion-side-menu>
  </ion-side-menus>
<div class="list">

    <a class="item item-thumbnail-left" ui-sref="film">
      <img  src="img/Captain-America-le-soldat-de-lhiver-affiche.jpg">
      <h2>Captain America</h2>
      <p>Samedi 19:45</p>
    </a>

</div>

  </ion-content>

   
		
	</ion-content>
</ion-view>
